@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700&display=swap');

:root{
    --main-color:#3867d6;
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background: #666;
}

html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}

body{
    background: #faf9f9;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    color: #040404;
    text-transform: uppercase;
    font-size: 4rem;
}

.heading span{
    color: var(--main-color);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    background: #666;
    color: #fdfbfb;
    cursor: pointer;
    font-weight: 600;
}

.btn:hover{
    background: var(--main-color);
}


.vn .box-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.vn .box-container .box{
    border-radius: .5rem;
    background: #fafafa;
    text-align: center;
    border:0.2rem solid #333;
    padding: 2.5rem;
}

.vn .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    border-radius: 50%;
    font-size: 2.5rem;
    background: var(--main-color);
    color: #fbfafa;
}

.vn .box-container .box h3{
    font-size: 2rem;
    color: #0c0c0c;
    padding:1rem 0;
}

.vn .box-container .box p{
    font-size: 1.4rem;
    color: #060606;
    line-height: 1.8;
}

.cart-icon {
    position: fixed;
    bottom: 20px; 
    right: 20px; 
    z-index: 999;
}

.cart-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; 
    height: 50px; 
    background-color: var(--main-color); 
    border-radius: 50%; 
    color: black; 
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.3s;
}


.cart-circle:hover {
    background-color: lightblue; 
    transform: scale(1.1); 
}

.cart-circle i {
    color: white; 
    font-size: 2rem;
}


.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    z-index: 1000;
    max-width: 500px;
    width: 100%;
}

.form-popup input {
    margin-bottom: 1rem;
    width: 100%;
    padding: 8px;
}

.form-popup input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}


#translate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#translate-button:hover {
    background-color: #0056b3;
}